@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Manrope';
    box-sizing: border-box; 
   
  } 
.course-container{
    height: 90vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 65px;
    background-image: url("C:\Users\Bhargav Ram\Desktop\maniimg.png");
}
.course-info{
    width: 90%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.course-left{
    height: 100%;
    width: 50%;
    /* background-color: green; */
    
    
    
}
.course-left h2{
    color: var(--primary);
    font-size: 3.7rem;
    line-height: 70px;
    margin-bottom: 25px;
    margin-top: 150px;
}
.course-left p{
    color: var(--accent);
    font-size: 1.3rem;
    margin-right: 20px;
}
.course-right{
    height: 100%;
    width: 50%;
    /* background-color: violet; */
    background-image: url("../../assets/course.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}